---
layout: default
title: "Software Engineering"
permalink: /en/software-engineering/
lang: en
---

<h1>Software Engineering</h1>
<p>Here you can find all my articles, projects, and notes on Software Engineering, Architecture, and Programming.</p>

<div class="post-list">
  {% for post in site.categories['software-engineering'] %}
    {% if post.lang == "en" %}
    <div class="post-card">
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.description | default: post.excerpt | strip_html | truncatewords: 25 }}</p>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More &rarr;</a>
    </div>
    {% endif %}
  {% endfor %}
</div>
