---
layout: default
title: "Data Science"
permalink: /data-science/
lang: de
---

<h1>Data Science</h1>
<p>Hier findest du alle meine Artikel, Projekte und Notizen zum Thema Data Science und Machine Learning.</p>

<div class="post-list">
  {% for post in site.posts %}
    {% if post.category == "data-science" and post.lang != "en" %}
    <div class="post-card">
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.description | default: post.excerpt | strip_html | truncatewords: 25 }}</p>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Weiterlesen &rarr;</a>
    </div>
    {% endif %}
  {% endfor %}
</div>
