---
layout: default
title: "Startseite"
lang: de
---

<h1>Willkommen auf meinem Profil! 🚀</h1>
<p>Hi, ich bin Anton. Hier präsentiere ich meine Projekte und schreibe über Themen, die mich begeistern (Software Engineering, IT Security & Data Science).</p>

<h2>Meine neuesten Artikel</h2>

<div class="post-list">
  {% for post in site.posts %}
    {% if post.lang != "en" %}
    <div class="post-card">
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.description | default: post.excerpt | strip_html | truncatewords: 25 }}</p>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Weiterlesen &rarr;</a>
    </div>
    {% endif %}
  {% endfor %}
</div>
