---
layout: default
title: "IT Security"
permalink: /it-security/
---

<div class="lang-de" markdown="1">
# IT Security
Hier findest du alle meine Artikel, Projekte und Notizen zum Thema IT Security, Cybersecurity und Datenschutz.

### Alle Beiträge:
<ul>
  {% for post in site.categories['it-security'] %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
</div>


<div class="lang-en" markdown="1">
# IT Security
Here you can find all my articles, projects, and notes on IT Security, Cybersecurity, and Data Privacy.

### All posts:
<ul>
  {% for post in site.categories['it-security'] %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
</div>
