---
layout: default
title: "Software Engineering"
permalink: /software-engineering/
---

<div class="lang-de" markdown="1">
# Software Engineering
Hier findest du alle meine Artikel, Projekte und Notizen zum Thema Software Engineering, Architektur und Programmierung.

### Alle Beiträge:
<ul>
  {% for post in site.categories['software-engineering'] %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
</div>


<div class="lang-en" markdown="1">
# Software Engineering
Here you can find all my articles, projects, and notes on Software Engineering, Architecture, and Programming.

### All posts:
<ul>
  {% for post in site.categories['software-engineering'] %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
</div>
